div.firstScreen div.authenticateBox.findPassword{
    margin: 25vh auto;
    height: 40vh;
    width: 50vw;
    top: -200vh;
    left: -100%;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
@media screen and (max-width: 600px) {
    div.firstScreen div.authenticateBox.findPassword{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
}
@media screen and (max-height: 300px) and (min-width:600px){
    div.firstScreen div.authenticateBox.findPassword{
        width: 50vw;
        height: 100vh;
        margin: 0 auto;
    }
}
div.firstScreen div.authenticateBox.findPassword.right{
    left: 0;
}
@media screen and (max-width: 600px) {

}
@media screen and (max-height: 350px){
    div.firstScreen div.authenticateBox.findPassword form a{
        font-size: 6vh;
    }
    div.firstScreen div.authenticateBox.findPassword form div.error.show{
        font-size: 5vh;
    }
    div.firstScreen div.authenticateBox.findPassword form input[type="text"],
    div.firstScreen div.authenticateBox.findPassword form input[type="password"]{
        height: 12vh;
        font-size: 6vh;
    }
    div.firstScreen div.authenticateBox.findPassword form input[type="submit"],
    div.firstScreen div.authenticateBox.findPassword form input[type="button"]{
        margin: 8vh 0;
        width: 35%;
        height: 10vh;
        font-size: 6vh;
    }
}