*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

div.fixedBox{
    position: fixed;
    width: 12vw;
    margin-top: 2vh;

    z-index: 100;
}
div.Fixed{
    position: fixed;
    width: 12vw;
    margin-top: 2vh;
    margin-left: 2vw;
    z-index: 100;
}
div.head{
    border: solid 0.1em;
    border-color: transparent #666 #666 transparent;
}
div.head img.headImg{
    display: block;
    border-radius: 50%;
    width: 3vw;
    margin: 1vh auto;
}
div.head a.userName{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    color: #333;
}
div.head a.userName img.selectIcon{
    width: 1vw;
}
div.head div.option{
    width: 7vw;
    font-size: 1vw;
    text-align: center;
    float: right;
    margin-right: 1.5vw;
    background: #505050;
    color: #ccc;
}
div.head div.option li.selectItem{
    height: 0;
    top:-100vh;
    opacity: 0;
    -webkit-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -moz-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -ms-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -o-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
}
div.head div.option li.selectItem.show{
    top:0;
    height: 3vh;
    opacity: 1;
}
div.head div.option li.selectItem.show:hover{
    color:#eee;
}
div.head p.introduction{
    clear: both;
    margin-top: 1vh;
    color: #666;
    font-size: 1vw;
    text-align: center;
}

div.CenterFixed{
    top:25vh;
    width: 11vw;
    padding-right: 1vw;
    border-right: #666 solid 0.1em;
    text-align: right;
    color: #999;
}
div.CenterFixed a:hover{
    color: #000;
}
div.CenterFixed a.active,
div.timeLineFixed ul.yearSelect ul.monthSelect li[class^="monthItem"].show.active{
    color: #000;
}
div.timeLineFixed{
    left:-100vw;
    height: auto;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.timeLineFixed.show{
    left:0;
}
div.timeLineFixed ul.yearSelect li.yearItem{
    font-size: 3vh;
}
div.timeLineFixed ul.yearSelect ul.monthSelect li[class^="monthItem"]{
    position: relative;
    left:-100vw;
    opacity: 0;
    height: 0;
    -webkit-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -moz-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -ms-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -o-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
}
div.timeLineFixed ul.yearSelect ul.monthSelect li[class^="monthItem"].show{
    opacity: 1;
    height: 3vh;
    left:0
}
div.timeLineFixed ul.monthSelect li[class^="monthItem"]{
    text-align: right;
    font-size: 2vh;
}
div.dinaryFixed{
    left:100vw;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.albumFixed{
    left:100vw;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.selfInfoFixed{
    left:-100vw;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.CenterFixed.show{
    left: 0;
}
div.countDown{
    top: 70vh;
    font-size: 2vh;
    text-align: right;
    border-right: #666 solid 0.1em;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.countDown ul{
    padding-right: 1vw;
}

div.Screen{
    display: none;
    position: absolute;
    float:right;
    width: 100vw;
    min-height: 100vh;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

div.Screen.RightScreen{
    left:100vw;
}

div.Screen.RightScreen.left{
    left:0;
}