*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
form{
    padding: 8vh 8vw;
}
iframe{
    border: none;
}
div.firstScreen{
    position:fixed;
    width: 100vw;
    height: 100vh;
    background: url("../res/background/firstScreenBg.jpg");
    background-size: 100vw 100vh;
    -webkit-transition: height 1.5s ease-in-out;
    -moz-transition: height 1.5s ease-in-out;
    -ms-transition: height 1.5s ease-in-out;
    -o-transition: height 1.5s ease-in-out;
    transition: height 1.5s ease-in-out;
}
div.firstScreen.navigator{
    height:4vh;
}

div.firstScreen .flystar{
    position: absolute;
    width: 231px;
    height: 151px;
    background: url("../res/background/flyStar.png");
    z-index: 2;
}


div.firstScreen div.authenticateBox{
    background-color: rgba(204, 204, 204, 0.3);
    position: relative;
    display: block;
    margin: 20vh auto;
    height: 60vh;
    width: 60vw;
    border: solid 0.1em;
    left: 0;
    z-index: 10;
    top: 0;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.firstScreen div.authenticateBox.login.left{
    left: -100%;
}
div.firstScreen div.authenticateBox.login.right{
    left: 100%;
}
div.firstScreen div.authenticateBox.hide{
    opacity: 0;
    top: -100vh;
}

div.firstScreen div.authenticateBox.signup{
    position: relative;
    display: block;
    margin: 15vh auto;
    height: 68vh;
    width: 80vw;
    border: solid 0.1em;
    top: -80vh;
    left: 100%;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.firstScreen div.authenticateBox.signup.left{
    left: 0;
}
div.firstScreen div.authenticateBox.signup.hide{
    display: none;
}

div.firstScreen div.authenticateBox.findPassword{
    position: relative;
    display: block;
    margin: 25vh auto;
    height: 40vh;
    width: 50vw;
    border: solid 0.1em;
    top: -160vh;
    left: -100%;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
div.firstScreen div.authenticateBox.findPassword.right{
    left: 0;
}

div.firstScreen div.navigatorBox{
    position: inherit;
    top:100%;
    width: 100vw;
    height: 4vh;
    box-shadow: 0 0.1em 0 rgba(128, 128, 128, 0.7);
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
div.firstScreen div.navigatorBox ul{
    list-style: none;
    width: 60vw;
    margin:0.1vh auto;
    font-size: 2.6vh;
    text-align: center;
}
div.firstScreen div.navigatorBox ul li{
    display: inline-block;
    margin:0 5vw;
}
div.firstScreen div.navigatorBox ul li a{
    text-decoration: none;
    color: #fff;
}
div.firstScreen.navigator div.navigatorBox.show{
    left: 0;
    top: 0;
}


div.secondScreen{
    padding-top: 100vh;
    width: 100vw;
    height:96vh;
    background: #ccccff;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
div.secondScreen.mainPage{
    padding-top: 4vh;
}
div.secondScreen iframe{
    width: 100vw;
    height: 100vh;
}