*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
iframe{
    border: none;
}

div.firstScreen{
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url("../res/background/firstScreenBg.jpg");
    background-size: 100vw 100vh;
    -webkit-transition: top 1s ease-in-out;
    -moz-transition: top 1s ease-in-out;
    -ms-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
}
div.firstScreen .flystar{
    position: absolute;
    width: 231px;
    height: 151px;
    background: url("../res/background/flyStar.png");
    z-index: 2;
}
div.firstScreen div.authenticateBox{
    background-color: rgba(204, 204, 204, 0.3);
    position: relative;
    margin: 14vh auto;
    height: 60vh;
    width: 50vw;
    border: solid 0.1em;
    left: 0;
    z-index: 10;
    top: 0;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
@media screen and (max-width: 600px) {
    div.firstScreen div.authenticateBox{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
}
@media screen and (max-height: 300px) and (min-width:600px){
    div.firstScreen div.authenticateBox{
        width: 50vw;
        height: 100vh;
        margin: 0 auto;
    }
}
div.firstScreen div.authenticateBox.hide{
    opacity: 0;
    top: -100vh;
}
div.firstScreen div.authenticateBox form{
    width: 80%;
    margin: 10vh auto;
}
@media screen and (max-width: 600px) {
    div.firstScreen div.authenticateBox form{
        width: 80%;
        margin: 25vh auto;
    }
}
@media screen and (max-height: 300px) and (min-width:600px){
    div.firstScreen div.authenticateBox form{
        width: 80%;
        margin: 25vh auto;
    }
}

div.firstScreen.navigator{
    top:-96vh;
}
@media screen and (max-height: 400px){
    div.firstScreen.navigator{
        top:-94vh;
    }
}
div.firstScreen div.navigatorBox{
    position: inherit;
    top:100%;
    width: 100vw;
    height: 4vh;
    box-shadow: 0 0.1em 0 rgba(128, 128, 128, 0.7);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
@media screen and (max-height: 400px){
    div.firstScreen div.navigatorBox{
        height:6vh;
    }
}
div.firstScreen div.navigatorBox ul{
    list-style: none;
    width: 60vw;
    margin:0.1vh auto;
    font-size: 2.6vh;
    text-align: center;
}
@media screen and (max-height: 400px){
    div.firstScreen div.navigatorBox ul{
        font-size: 4vh;
    }
}
div.firstScreen div.navigatorBox ul li{
    display: inline-block;
    margin:0 5vw;
}
div.firstScreen div.navigatorBox ul li a{
    text-decoration: none;
    color: #fff;
}
div.firstScreen.navigator div.navigatorBox.show{
    left: 0;
    top: 0;
}


div.secondScreen{
    padding-top: 100vh;
    width: 100vw;
    height:96vh;
    background:url("../res/background/timeLineBg.jpg") fixed;
    background-size: 100vw 98vh;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
div.secondScreen.mainPage{
    padding-top: 4vh;
}
div.secondScreen iframe{
    width: 100vw;
    height: 100vh;
}