*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

div.fixedBox{
    position: fixed;
    width: 12vw;
    margin-top: 2vh;
    margin-left: 2vw;
    z-index: 100;
}

div.fixedBox div.head{
    border: solid 0.1em;
    border-color: transparent #666 #666 transparent;
}
div.fixedBox div.head img.headImg{
    display: block;
    border-radius: 50%;
    width: 3vw;
    margin: 1vh auto;
}
div.fixedBox div.head span.select a.userName{
    display: inline-block;
    font-size: 1.2vw;
    color: #333;
    width: auto;
    margin: 0 auto;
}
div.fixedBox div.head span.select a.userName img.selectIcon{
    width: 1vw;
}
div.fixedBox div.head div.option{
    width: 7vw;
    font-size: 1vw;
    text-align: center;
    float: right;
    margin-right: 1.5vw;
    background: #505050;
    color: #ccc;
}
div.fixedBox div.head div.option li.selectItem{
    position: relative;
    height: 0;
    top:-100vh;
    opacity: 0;
    -webkit-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -moz-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -ms-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -o-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
}
div.fixedBox div.head div.option li.selectItem.show{
    top:0;
    height: 3vh;
    opacity: 1;
}
div.fixedBox div.head div.option li.selectItem.show:hover{
    color:#eee;
}
div.fixedBox div.head p.introduction{
    clear: both;
    margin-top: 1vh;
    color: #666;
    font-size: 1vw;
    text-align: center;
}


div.fixedBox div.selectBox{
    margin-top: 2vh;
    padding-right: 1vw;
    border-right: solid 0.1em #333;
    color: #999999;
}
div.fixedBox div.selectBox ul a:hover{
    color: #333;
}

div.fixedBox div.selectBox ul.yearSelect ul.monthSelect li[class^="monthItem"].show.active,
div.fixedBox div.selectBox ul a.active{
    color: #333;
}
div.selectBox ul.yearSelect li.yearItem{
    text-align: right;
    font-size: 3vh;
}
div.selectBox ul.yearSelect ul.monthSelect li[class^="monthItem"]{
    position: relative;
    left:-200%;
    opacity: 0;
    height: 0;
    -webkit-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -moz-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -ms-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    -o-transition: height 1s ease-in-out, opacity 1s ease-in-out;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
}
div.selectBox ul.yearSelect ul.monthSelect li[class^="monthItem"].show{
    opacity: 1;
    height: 3vh;
    left:0
}
div.selectBox ul.monthSelect li[class^="monthItem"]{
    text-align: right;
    font-size: 2vh;
}