div.timeLine{
    background: url("../res/background/timeLineBg.jpg") fixed;
    background-size: 100vw 100vh;
    padding-bottom: 82.5vh;
}
div.timeLine.left{
    left: -100vw;
}
div.timeLine.right{
    left: 100vw;
}


div.timeLine div.timeLineBox{
    background: url("../res/background/timeLinep.png") repeat-y 21vw;
    padding-top: 6vh;
    padding-left: 24vw;
    min-height: 100vh;
}

div.timeLine div.timeLineBox div.contentYear,
div.timeLine div.timeLineBox div.contentMonth{
    height:3.4vh;
    font-weight: bold;
    font-size: 3vh;
    position: relative;
    left: -7vw;
    clear: both;
    color: #000;
}
div.timeLine div.timeLineBox div.contentMonth{
    font-size: 2vh;
}

div.timeLine div.timeLineBox div.contentItemLeft,
div.timeLine div.timeLineBox div.contentItemRight{
    width: 33vw;
    background: #fff;
    border-radius: 2%;
    margin: 1vh 4vw 0 0;
    position: relative;
    float: left;
}
div.timeLine div.timeLineBox div.contentItemFirst{
    top: -3vh
}
div.timeLine div.timeLineBox div.contentItemRight{
    float: right;
}

div.timeLine div.timeLineBox div.contentIconArrow{
    position: absolute;
    left:-0.8vw;
    top:0.8vh;
    height: 0;
    border-color: transparent #fff transparent transparent;
    border-width: 1em 1em 1em 0;
    border-style: dashed solid dashed dashed;
}

div.timeLine div.timeLineBox div.contentIconDot,
div.timeLine div.timeLineBox div.contentIconSmallDot{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: -3.4vw;
    top: 2vh
}
div.timeLine div.timeLineBox div.contentIconSmallDot{
    width: 0.4vw;
    height: 0.4vw;
    background: #57acff;
    left: 0.3vw;
    top: 0.65vh;
}
div.timeLine div.timeLineBox div.contentItemRight div.contentIconDot,
div.timeLine div.timeLineBox div.contentItemRight div.contentIconSmallDot{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: -42.4vw;
    top: 2vh
}
div.timeLine div.timeLineBox div.contentItemRight div.contentIconSmallDot{
    width: 0.4vw;
    height: 0.4vw;
    background: #57acff;
    left: 0.3vw;
    top: 0.65vh;
}

div.timeLine div.timeLineBox div.contentItemHead{
    padding: 2vh 2vw;
    padding-bottom: 0;
}
div.timeLine div.timeLineBox div.contentItemHeadTitle{
    height: 4vh;
    font-size: 3vh;
    border-bottom: 0.1em solid #333;
    position: relative;
    color: #333;
}
div.timeLine div.timeLineBox div.contentItemHeadIntroduction{
    height: auto;
    font-size: 2vh;
    position: relative;
    color: #666;
    padding: 1vh 0;
}
